@import "../../../styles/variables";

.card {
  display: flex;
  align-items: center;
  background: $primary-black;
  border-radius: 50px;
  padding: 2px;
  text-decoration: none;
  border: 1px solid transparent;
  transition: $transition;

  &:hover {
    border-color: $accent-gold;
    background: $glass-bg;
    transform: translateY(-5px);
  }

  .iconWrapper {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
}
